@model IEnumerable<GroupViewModel>

<ul>
    @foreach (var g in Model)
    {
        <li>@g.Name <a asp-controller="Groups" asp-action="Details" asp-route-id="@g.Id" @*asp-route-extra="dummy"*@>Edit</a></li>
    }
</ul>

<a asp-controller="Groups" asp-action="Create">Create Group</a>
